@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --font-sans: var(--font-geist-sans);
  --radius-vercel: 14px;
  --radius-vercel-zy: 7px;

}

@source "../../src/**/*.{ts,tsx}";

:root {
  /* Mode Light : Design épuré, cartes blanches */
  --background: #ffffff;
  --foreground: #000000;
  --accents-1: #fafafa;
  --accents-2: #eaeaea;
  --border-color: #eaeaea;
  --card-bg: #ffffff;
  --card-bg-glass: rgba(255, 255, 255, 0.7);
  /* Light mode */
}

.dark {
  /* Mode Dark : "The Vercel Way" - Noir Pur et Bordures Chirurgicales */
  --background: #000000;
  --foreground: #ffffff;
  --accents-1: #111111;
  --accents-2: #333333;
  --border-color: #333333;
  --card-bg: #000000;
  /* Noir pur comme demandé */
  --card-bg-glass: rgba(0, 0, 0, 0.5);
  /* Dark mode : Noir pur mais transparent */
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    transition: background-color 0.2s ease;
  }
}

@layer components {

  /* La "Vercel Card" réactive */
  .v-card {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: var(--radius-vercel);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
  }

  .v-card:hover {
    border-color: var(--foreground);
  }
}