@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Format RGB simple: R G B */
    --background: 255 255 255;
    --foreground: 10 10 10;
    --border: 220 220 220;
    --primary: 34 197 94;
    --primary-foreground: 255 255 255;

    --radius: 0.625rem;
    --app-gradient: linear-gradient(to bottom right, #f8fafc, #ffffff, #e2e8f0);
    --glass-dual: rgba(255, 255, 255, 0.05);
    --border-dual: rgba(0, 0, 0, 0.1);
  }

  .dark {
    --background: 0 0 0;
    --foreground: 250 250 250;
    --border: 40 40 40;
    --primary: 34 197 94;
    --primary-foreground: 0 0 0;

    --app-gradient: linear-gradient(to bottom right, #0a0a0a, #000000, #171717);
    --glass-dual: rgba(0, 0, 0, 0.6);
    --border-dual: rgba(255, 255, 255, 0.1);
  }

  body {
    background-image: var(--app-gradient);
    color: rgb(var(--foreground));
    background-color: rgb(var(--background));
    min-height: 100vh;
    @apply antialiased;
  }
}

@layer components {

  /* On force le rendu des composants orphelins de ton HomePage */
  .bg-glass-dual {
    background-color: var(--glass-dual) !important;
    backdrop-filter: blur(40px) !important;
    -webkit-backdrop-filter: blur(40px) !important;
  }
}